body{
  font-family: 'Open Sans','Arial','Helvetica', sans-serif;
}

/* ---------  */
/* NAVIGATION */
/* ---------  */

.navigation{
  background-color: #363636;
  width:100%;
  height: 80px;
}

.navigation__inner{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.menu__item{
  display: inline-block;
  margin-left: 25px;
}

.logo{
  text-transform: uppercase;
  font-size: 20px;
}
.menu__link, .login__link{
  color: white;
  text-decoration: none;
  transition: color ease 0.7s;
}

.menu__link:hover, .login__link:hover{
  color:#fa8f10;
}

.fa-user{
  margin-right: 8px;
}

/* ---------  */
/*   HEADER   */
/* ---------  */

.header{
  width: 100%;
  height: 540px;
  background-color: #1E93CC;
}

.header__inner{
  width: 100%;
  max-width: 1200px;
  height: 540px;
  box-sizing: border-box;
  padding: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../assets/avatar.png) no-repeat;
  background-position: left 128px;
  background-size: 250px;
}

.header__title{
  font-size: 70px;
  color: white;
  margin-bottom: 30px;
}

.header__subtitle{
  font-size: 35px;
  color: white;
  margin-bottom: 30px;
}

.header__link{
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding: 30px;
  background-color: #fa8f10;
  border-radius: 20px;
  border: 3px white solid;
  transition: background 0.7s ease;
}

.header__link:hover{
  background-color: #ff6e26;
}


/* ---------  */
/*   SLOGAN   */
/* ---------  */

.section__slogan{
  width: 100%;
  padding: 30px;
  text-align: center;
  box-sizing: border-box;

}

.slogan__text{
    font-size: 30px;
}

/* ---------  */
/*   Perks    */
/* ---------  */


.section__perks{
  width: 100%;

  background-color: #1E93CC;
}

.perks__container{
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px 0;
}

.perk{
  width: 50%;
  box-sizing: border-box;
  padding: 20px 0;
}
.perk:nth-child(even){
  padding-left: 20px;
}
.perk:nth-child(odd){
  padding-right: 20px;
}

.perk__title{
  color: white;
  font-size: 35px;
  position: relative;
  padding-left: 20px;
  margin-bottom: 30px;
}
.perk__icon{
  margin-right: 10px;
  position: absolute;
  top: -3px;
  left: 0;
}

.perk__text{
  color: white;
  font-size: 18px;
  line-height: 1.50;
  text-align: justify;
}

/* ---------  */
/*   QUOTE  */
/* ---------  */

.section__quote{
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}

.quote__text{
    font-size: 30px;
    color: #6f6e6f;
}

/* ---------  */
/*   CLIENTS   */
/* ---------  */

.section__clients{
  width: 100%;
  height: 350px;
  background-color: #ededee;
}

.clients__inner{
  width: 100%;
  max-width: 1200px;
  padding: 50px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
}
.clients__list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.clients__img{
  width: 130px;
}
.product_link{
  margin: auto;
}
.product{
  width: 250px;
}

/* ---------  */
/*    CTA     */
/* ---------  */

.section__cta{
  height: 300px;
  width: 100%;
}

.cta__inner{
  width: 100%;
  max-width: 1200px;
    height: 350px;
  margin: auto;
  padding-top: 50px;
}

.cta__list{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cta__item:nth-child(2){
  margin: 0 10px;
}

.cta__link{
  color: white;
  font-size: 25px;
  display: block;
  text-decoration: none;
  padding: 20px 50px;
  background-color: #005780;
  border-radius: 10px;
  transition: background 0.7s ease;

}

.cta__link:hover{
  background-color: #fa8f10;
}

.cta__icon{
  margin-left: 10px;
}

/* ---------  */
/* FOOTER */
/* ---------  */

.footer{
  background-color: #363636;
  width:100%;
  height: 100px;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
}


.footer__item{
  display: inline-block;
  padding: 0 10px;
  border-left : dotted 1px white;
}

.footer__item:first-child{
  border-left : none;
}


.footer__link{
  color: white;
  text-decoration: none;
  transition: color ease 0.7s;
}

.footer__link:hover{
  color:#fa8f10;
}

.footer__copyright{
  color: white;
}

.footer__icon{
  margin-right: 10px;
}

.cta__chat{
  display: block;
  height:60px;
  width: 60px;
  text-decoration: none;
  border-radius: 100%;
  background-color: #005780;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 60px;
  right: 60px;
  color: white;
  transition: background ease 0.7s;
}

.cta__chat:hover{
  background-color: #002f44;
}
